## Part 1: Preprocessing

In [35]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
from tensorflow.keras.models import Model
from tensorflow.keras import layers

#  Import and read the attrition data
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m19/lms/datasets/attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2

In [36]:
# Determine the number of unique values in each column.
attrition_df.nunique()

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64

In [37]:
# Create y_df with the Attrition and Department columns

y_df = attrition_df[['Attrition', 'Department']]
y_df.head()

  Attrition              Department
0       Yes                   Sales
1        No  Research & Development
2       Yes  Research & Development
3        No  Research & Development
4        No  Research & Development

In [38]:
# Create a list of at least 10 column names to use as X data
selected_columns = [
    'Age', 'DistanceFromHome', 'Education', 'JobLevel', 'NumCompaniesWorked',
    'PercentSalaryHike', 'TotalWorkingYears', 'TrainingTimesLastYear',
    'YearsAtCompany', 'YearsSinceLastPromotion']


# Create X_df using your selected columns
X_df = attrition_df[selected_columns]

# Show the data types for X_df
X_df.dtypes

Age                        int64
DistanceFromHome           int64
Education                  int64
JobLevel                   int64
NumCompaniesWorked         int64
PercentSalaryHike          int64
TotalWorkingYears          int64
TrainingTimesLastYear      int64
YearsAtCompany             int64
YearsSinceLastPromotion    int64
dtype: object

In [39]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split
y_df_encoded = pd.get_dummies(y_df['Attrition'], drop_first=True)  # Yes -> 1, No -> 0
X_train, X_test, y_train, y_test = train_test_split(X_df, y_df_encoded, test_size=0.2, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((1176, 10), (294, 10), (1176, 1), (294, 1))

In [40]:
# Convert your X data to numeric data types however you see fit
# Add new code cells as necessary
X_df_numeric = X_df.apply(pd.to_numeric, errors='coerce')
nan_values = X_df_numeric.isna().sum()
nan_values[nan_values > 0]

Series([], dtype: int64)

In [41]:
X_df_numeric

,Age,DistanceFromHome,Education,JobLevel,NumCompaniesWorked,PercentSalaryHike,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion
0,41,1,2,2,8,11,8,0,6,0
1,49,8,1,2,1,23,10,3,10,1
2,37,2,2,1,6,15,7,3,0,0
3,33,3,4,1,1,11,8,3,8,3
4,27,2,1,1,9,12,6,3,2,2
...,...,...,...,...,...,...,...,...,...,...
1465,36,23,2,2,4,17,17,3,5,0
1466,39,6,1,3,4,15,9,5,7,1
1467,27,4,3,2,1,20,6,0,6,0
1468,49,2,3,2,2,14,17,3,9,0
1469,34,8,3,2,2,12,6,3,4,1

In [42]:
X_df_numeric.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      1470 non-null   int64
 1   DistanceFromHome         1470 non-null   int64
 2   Education                1470 non-null   int64
 3   JobLevel                 1470 non-null   int64
 4   NumCompaniesWorked       1470 non-null   int64
 5   PercentSalaryHike        1470 non-null   int64
 6   TotalWorkingYears        1470 non-null   int64
 7   TrainingTimesLastYear    1470 non-null   int64
 8   YearsAtCompany           1470 non-null   int64
 9   YearsSinceLastPromotion  1470 non-null   int64
dtypes: int64(10)
memory usage: 115.0 KB

In [43]:
X_df_numeric.value_counts()

Age  DistanceFromHome  Education  JobLevel  NumCompaniesWorked  PercentSalaryHike  TotalWorkingYears  TrainingTimesLastYear  YearsAtCompany  YearsSinceLastPromotion
18   1                 3          1         1                   15                 0                  5                      0               0                          1
40   11                3          2         1                   11                 10                 2                      10              9                          1
     10                4          1         3                   13                 10                 3                      7               1                          1
                       3          2         7                   12                 7                  2                      5               1                          1
     9                 5          2         9                   14                 5                  5                      3               0                          1
                                                                                                                                                                       ..
32   6                 4          2         1                   16                 12                 0                      11              5                          1
     5                 4          2         8                   24                 8                  1                      1               0                          1
                                  1         3                   17                 6                  3                      3               0                          1
                                            2                   14                 12                 3                      7               0                          1
60   28                3          3         4                   19                 22                 5                      18              13                         1
Name: count, Length: 1470, dtype: int64

In [44]:
# Create a StandardScaler
scaler = StandardScaler()

# Fit the StandardScaler to the training data
scaler.fit(X_train)

# Scale the training and testing data
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)
X_train_scaled.shape, X_test_scaled.shape

((1176, 10), (294, 10))

In [45]:
# Create a OneHotEncoder for the Department column
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(sparse=False, drop='first')

# Fit the encoder to the training data
encoder.fit(y_df[['Department']])

# Create two new variables by applying the encoder
# to the training and testing data
department_train_encoded = encoder.transform(y_df.loc[X_train.index, ['Department']])
department_test_encoded = encoder.transform(y_df.loc[X_test.index, ['Department']])
department_train_encoded.shape, department_test_encoded.shape

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

((1176, 2), (294, 2))

In [46]:
# Create a OneHotEncoder for the Attrition column
attrition_encoder = OneHotEncoder(sparse=False, drop='first')

# Fit the encoder to the training data
attrition_encoder.fit(y_df[['Attrition']])

# Create two new variables by applying the encoder
# to the training and testing data
attrition_train_encoded = attrition_encoder.transform(y_df.loc[X_train.index, ['Attrition']])
attrition_test_encoded = attrition_encoder.transform(y_df.loc[X_test.index, ['Attrition']])
attrition_train_encoded.shape, attrition_test_encoded.shape

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

((1176, 1), (294, 1))

## Create, Compile, and Train the Model

In [47]:
# Find the number of columns in the X training data
num_columns = X_train_scaled.shape[1]

# Create the input layer
input_layer = layers.Input(shape=(num_columns,))

# Create at least two shared layers
shared_layer1 = layers.Dense(64, activation='relu')(input_layer)
shared_layer2 = layers.Dense(32, activation='relu')(shared_layer1)
shared_layer2

In [48]:
# Create a branch for Department
# with a hidden layer and an output layer
department_input = layers.Input(shape=(2,))
# Create the hidden layer
department_hidden = layers.Dense(16, activation='relu')(department_input)

# Create the output layer
department_output = layers.Dense(1, activation='sigmoid')(department_hidden)
department_output

In [49]:
# Create a branch for Attrition
# with a hidden layer and an output layer
attrition_input = layers.Input(shape=(2,))
# Create the hidden layer
attrition_hidden = layers.Dense(16, activation='relu')(attrition_input)

# Create the output layer
attrition_output = layers.Dense(1, activation='sigmoid')(attrition_hidden)
attrition_output

In [50]:
from tensorflow.keras.optimizers import Adam

In [51]:
combined = layers.concatenate([shared_layer2, department_hidden])

In [52]:
# Create the model
final_output = layers.Dense(1, activation='sigmoid')(combined)
model = Model(inputs=[input_layer, department_input], outputs=final_output)


# Compile the model
model.compile(optimizer=Adam(), loss='binary_crossentropy', metrics=['accuracy'])


# Summarize the model
model.summary()

Model: "functional_1"

â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”“
â”ƒ Layer (type)              â”ƒ Output Shape           â”ƒ        Param # â”ƒ Connected to           â”ƒ
â”¡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”©
â”‚ input_layer_3             â”‚ (None, 10)             â”‚              0 â”‚ -                      â”‚
â”‚ (InputLayer)              â”‚                        â”‚                â”‚                        â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_7 (Dense)           â”‚ (None, 64)             â”‚            704 â”‚ input_layer_3[0][0]    â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ input_layer_4             â”‚ (None, 2)              â”‚              0 â”‚ -                      â”‚
â”‚ (InputLayer)              â”‚                        â”‚                â”‚                        â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_8 (Dense)           â”‚ (None, 32)             â”‚          2,080 â”‚ dense_7[0][0]          â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_9 (Dense)           â”‚ (None, 16)             â”‚             48 â”‚ input_layer_4[0][0]    â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ concatenate_1             â”‚ (None, 48)             â”‚              0 â”‚ dense_8[0][0],         â”‚
â”‚ (Concatenate)             â”‚                        â”‚                â”‚ dense_9[0][0]          â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_13 (Dense)          â”‚ (None, 1)              â”‚             49 â”‚ concatenate_1[0][0]    â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

 Total params: 2,881 (11.25 KB)

 Trainable params: 2,881 (11.25 KB)

 Non-trainable params: 0 (0.00 B)

In [53]:
print(X_train_scaled.shape)            # Check the shape of X_train_scaled
print(department_train_encoded.shape)  # Check the shape of department_train_encoded
print(y_train.shape)                   # Check the shape of y_train

(1176, 10)
(1176, 2)
(1176, 1)

In [54]:
y_train = y_train.values if isinstance(y_train, pd.Series) else y_train
y_test = y_test.values if isinstance(y_test, pd.Series) else y_test

In [55]:
# Train the model
trained_model = model.fit(
    [X_train_scaled, department_train_encoded],
    y_train,
    epochs=50,
    batch_size=34,
    validation_data=([X_test_scaled, department_test_encoded], y_test),
    verbose=2
)

Epoch 1/50
35/35 - 2s - 67ms/step - accuracy: 0.7934 - loss: 0.5337 - val_accuracy: 0.8673 - val_loss: 0.4036
Epoch 2/50
35/35 - 0s - 12ms/step - accuracy: 0.8316 - loss: 0.4539 - val_accuracy: 0.8673 - val_loss: 0.3793
Epoch 3/50
35/35 - 0s - 5ms/step - accuracy: 0.8316 - loss: 0.4391 - val_accuracy: 0.8673 - val_loss: 0.3735
Epoch 4/50
35/35 - 0s - 5ms/step - accuracy: 0.8316 - loss: 0.4273 - val_accuracy: 0.8673 - val_loss: 0.3658
Epoch 5/50
35/35 - 0s - 4ms/step - accuracy: 0.8316 - loss: 0.4184 - val_accuracy: 0.8639 - val_loss: 0.3615
Epoch 6/50
35/35 - 0s - 8ms/step - accuracy: 0.8350 - loss: 0.4100 - val_accuracy: 0.8639 - val_loss: 0.3583
Epoch 7/50
35/35 - 0s - 4ms/step - accuracy: 0.8342 - loss: 0.4046 - val_accuracy: 0.8605 - val_loss: 0.3578
Epoch 8/50
35/35 - 0s - 7ms/step - accuracy: 0.8418 - loss: 0.3994 - val_accuracy: 0.8605 - val_loss: 0.3570
Epoch 9/50
35/35 - 0s - 4ms/step - accuracy: 0.8393 - loss: 0.3970 - val_accuracy: 0.8605 - val_loss: 0.3576
Epoch 10/50
35/35 - 0s - 8ms/step - accuracy: 0.8342 - loss: 0.3974 - val_accuracy: 0.8639 - val_loss: 0.3606
Epoch 11/50
35/35 - 0s - 8ms/step - accuracy: 0.8401 - loss: 0.3899 - val_accuracy: 0.8605 - val_loss: 0.3600
Epoch 12/50
35/35 - 0s - 4ms/step - accuracy: 0.8452 - loss: 0.3873 - val_accuracy: 0.8537 - val_loss: 0.3580
Epoch 13/50
35/35 - 0s - 4ms/step - accuracy: 0.8393 - loss: 0.3851 - val_accuracy: 0.8537 - val_loss: 0.3581
Epoch 14/50
35/35 - 0s - 4ms/step - accuracy: 0.8469 - loss: 0.3824 - val_accuracy: 0.8707 - val_loss: 0.3649
Epoch 15/50
35/35 - 0s - 4ms/step - accuracy: 0.8486 - loss: 0.3790 - val_accuracy: 0.8537 - val_loss: 0.3592
Epoch 16/50
35/35 - 0s - 3ms/step - accuracy: 0.8410 - loss: 0.3771 - val_accuracy: 0.8605 - val_loss: 0.3618
Epoch 17/50
35/35 - 0s - 4ms/step - accuracy: 0.8461 - loss: 0.3731 - val_accuracy: 0.8605 - val_loss: 0.3585
Epoch 18/50
35/35 - 0s - 4ms/step - accuracy: 0.8461 - loss: 0.3711 - val_accuracy: 0.8571 - val_loss: 0.3608
Epoch 19/50
35/35 - 0s - 5ms/step - accuracy: 0.8452 - loss: 0.3715 - val_accuracy: 0.8639 - val_loss: 0.3618
Epoch 20/50
35/35 - 0s - 8ms/step - accuracy: 0.8461 - loss: 0.3714 - val_accuracy: 0.8639 - val_loss: 0.3613
Epoch 21/50
35/35 - 0s - 4ms/step - accuracy: 0.8495 - loss: 0.3659 - val_accuracy: 0.8537 - val_loss: 0.3660
Epoch 22/50
35/35 - 0s - 5ms/step - accuracy: 0.8512 - loss: 0.3652 - val_accuracy: 0.8673 - val_loss: 0.3653
Epoch 23/50
35/35 - 0s - 8ms/step - accuracy: 0.8478 - loss: 0.3612 - val_accuracy: 0.8571 - val_loss: 0.3655
Epoch 24/50
35/35 - 0s - 9ms/step - accuracy: 0.8503 - loss: 0.3647 - val_accuracy: 0.8469 - val_loss: 0.3638
Epoch 25/50
35/35 - 0s - 4ms/step - accuracy: 0.8486 - loss: 0.3609 - val_accuracy: 0.8673 - val_loss: 0.3683
Epoch 26/50
35/35 - 0s - 4ms/step - accuracy: 0.8529 - loss: 0.3584 - val_accuracy: 0.8639 - val_loss: 0.3691
Epoch 27/50
35/35 - 0s - 4ms/step - accuracy: 0.8503 - loss: 0.3568 - val_accuracy: 0.8605 - val_loss: 0.3662
Epoch 28/50
35/35 - 0s - 9ms/step - accuracy: 0.8495 - loss: 0.3537 - val_accuracy: 0.8605 - val_loss: 0.3677
Epoch 29/50
35/35 - 0s - 3ms/step - accuracy: 0.8537 - loss: 0.3508 - val_accuracy: 0.8605 - val_loss: 0.3681
Epoch 30/50
35/35 - 0s - 4ms/step - accuracy: 0.8486 - loss: 0.3503 - val_accuracy: 0.8537 - val_loss: 0.3691
Epoch 31/50
35/35 - 0s - 4ms/step - accuracy: 0.8537 - loss: 0.3497 - val_accuracy: 0.8605 - val_loss: 0.3669
Epoch 32/50
35/35 - 0s - 3ms/step - accuracy: 0.8546 - loss: 0.3466 - val_accuracy: 0.8537 - val_loss: 0.3766
Epoch 33/50
35/35 - 0s - 3ms/step - accuracy: 0.8503 - loss: 0.3455 - val_accuracy: 0.8605 - val_loss: 0.3718
Epoch 34/50
35/35 - 0s - 4ms/step - accuracy: 0.8571 - loss: 0.3430 - val_accuracy: 0.8605 - val_loss: 0.3706
Epoch 35/50
35/35 - 0s - 4ms/step - accuracy: 0.8588 - loss: 0.3430 - val_accuracy: 0.8503 - val_loss: 0.3753
Epoch 36/50
35/35 - 0s - 4ms/step - accuracy: 0.8546 - loss: 0.3408 - val_accuracy: 0.8503 - val_loss: 0.3745
Epoch 37/50
35/35 - 0s - 4ms/step - accuracy: 0.8614 - loss: 0.3372 - val_accuracy: 0.8571 - val_loss: 0.3765
Epoch 38/50
35/35 - 0s - 4ms/step - accuracy: 0.8605 - loss: 0.3336 - val_accuracy: 0.8571 - val_loss: 0.3799
Epoch 39/50
35/35 - 0s - 4ms/step - accuracy: 0.8529 - loss: 0.3394 - val_accuracy: 0.8571 - val_loss: 0.3780
Epoch 40/50
35/35 - 0s - 3ms/step - accuracy: 0.8554 - loss: 0.3303 - val_accuracy: 0.8605 - val_loss: 0.3826
Epoch 41/50
35/35 - 0s - 4ms/step - accuracy: 0.8631 - loss: 0.3284 - val_accuracy: 0.8537 - val_loss: 0.3806
Epoch 42/50
35/35 - 0s - 4ms/step - accuracy: 0.8605 - loss: 0.3273 - val_accuracy: 0.8503 - val_loss: 0.3806
Epoch 43/50
35/35 - 0s - 5ms/step - accuracy: 0.8605 - loss: 0.3234 - val_accuracy: 0.8605 - val_loss: 0.3852
Epoch 44/50
35/35 - 0s - 8ms/step - accuracy: 0.8648 - loss: 0.3229 - val_accuracy: 0.8503 - val_loss: 0.3894
Epoch 45/50
35/35 - 0s - 4ms/step - accuracy: 0.8639 - loss: 0.3236 - val_accuracy: 0.8537 - val_loss: 0.3794
Epoch 46/50
35/35 - 0s - 4ms/step - accuracy: 0.8622 - loss: 0.3184 - val_accuracy: 0.8435 - val_loss: 0.3986
Epoch 47/50
35/35 - 0s - 4ms/step - accuracy: 0.8639 - loss: 0.3187 - val_accuracy: 0.8435 - val_loss: 0.3924
Epoch 48/50
35/35 - 0s - 4ms/step - accuracy: 0.8665 - loss: 0.3177 - val_accuracy: 0.8537 - val_loss: 0.3900
Epoch 49/50
35/35 - 0s - 4ms/step - accuracy: 0.8690 - loss: 0.3123 - val_accuracy: 0.8435 - val_loss: 0.3907
Epoch 50/50
35/35 - 0s - 4ms/step - accuracy: 0.8707 - loss: 0.3115 - val_accuracy: 0.8537 - val_loss: 0.3886

In [56]:
# Evaluate the model with the testing data
test_loss, test_accuracy = model.evaluate([X_test_scaled, department_test_encoded], y_test, verbose=2)
print(f"Test Loss: {test_loss}")
print(f"Test Accuracy: {test_accuracy}")

10/10 - 0s - 3ms/step - accuracy: 0.8537 - loss: 0.3886
Test Loss: 0.3886415362358093
Test Accuracy: 0.853741466999054

In [57]:
# Print the accuracy for both department and attrition
evaluation = model.evaluate([X_test_scaled, department_test_encoded], y_test, verbose=2)
print(f"Test Loss: {evaluation[0]}")
print(f"Test Accuracy (Attrition): {evaluation[1]}")

10/10 - 0s - 3ms/step - accuracy: 0.8537 - loss: 0.3886
Test Loss: 0.3886415362358093
Test Accuracy (Attrition): 0.853741466999054

# Department is used as an Input, so unable to predict direct, but can print other evaluations

In [58]:
print("\nDepartment Percentage:")
print(y_df['Department'].value_counts(normalize=True) * 100)

Department Percentage:
Department
Research & Development    65.374150
Sales                     30.340136
Human Resources            4.285714
Name: proportion, dtype: float64

# Summary

In the provided space below, briefly answer the following questions.

1. Is accuracy the best metric to use on this data? Why or why not?

2. What activation functions did you choose for your output layers, and why?

3. Can you name a few ways that this model might be improved?

YOUR ANSWERS HERE

1.
2.
3.

#1 My opinion is yes. The metrics used in the Attrition data seems balanced well enough to predict for better accuracy.

#2 I used Sigmold for the Final output layer to use for binary classification for Yes and No interpretation which output values between 0 and 1.
# I use Relu for hidden layers because it
# avoids the vanishing gradient problem.

# 3 Split the training data into another set as validation testing, optimize hyperparameters with the layers and learning rate, and reducing imbalance which in this dataset would be 'Attrition'.